<div class="pop" id="pop" style="display: none;">
			<div class="pop-bg"></div>
			<div class="pop-content">
				<span class="close" id="close"></span>
				<div class="login-contnet">
					<h2 class="pop-tit"><a href="javascript:;" >登录</a></h2>
					<form class="from">
							<input type="hidden"  name="type" value="0" class="type"/>
						<div class="input-group">

							<input type="text" placeholder="请输入用户名" class="username" />
						</div>
						<div class="input-group">

							<input type="password" placeholder="请输入密码" class="password" />
						</div>
						<a href="javascript:void(0);" class="submit submit-login">登录</a>
						<div class="bt">
							<a href="#" class="reset-password red-link  fl">忘记密码？</a>
							<div href="#" class="switch-back  fr">
								<span>还没有帐号？</span>
								<a href="javascript:;" class="red-link  show-register">注册</a>
							</div>
						</div>
					</form>
				</div>
				<div class="register-contnet">
					<h2 class="pop-tit"><a href="javascript:;" class="active">学生注册</a><span style="color: #000;">|</span><a href="javascript:;">老师注册</a></h2>
					<form class="from">
						<input type="hidden"  name="type" value="0" class="type"/>
						<div class="input-group">
							<input type="text" placeholder="请输入用户名" class="username" />
						</div>

						<div class="input-group">
							<input type="password" placeholder="请输入密码" class="password" />
						</div>
						<span href="javascript:void(0);" class="submit submit-register">注册</a>
						<div class="bt">

							<div href="#" class="switch-back  fr">
								<span>已有帐号？</span>
						<a href="javascript:;" class="red-link  show-login">登录</a>
				</div>
			</div>
			</form>
		</div>
		</div>
		</div>